.Sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 78px;
    max-width: 1000px;
    margin: 0rem auto 6rem;
    gap: 1rem;
    min-height: 250px;
    text-decoration: none;
}

@media screen and (max-width: 760px) {
    .Sections {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 460px) {
    .Sections {
        grid-template-columns: repeat(1, 1fr);
    }
}
