.CheckoutCartItem {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1.25rem;
    margin-top: 1rem;
}
.CheckoutCartItem:first-of-type {
    margin: 0;
}

.CheckoutCartItemInfo {
    border-radius: 10px;
    padding: 0px 0rem 1rem;
    display: flex;
    justify-content: space-between;
}

.CheckoutCartItemInfo p {
    color: rgb(43, 2, 0);
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0px;
}

.CheckoutCartItemInfo span {
    display: flex;
    letter-spacing: normal;
    line-height: 1.25rem;
    font-weight: normal;
    font-size: 1.25rem;
    font-stretch: condensed;
    text-transform: none;
    margin: 0.5rem 0px;
    color: rgb(80, 35, 20);
}

/* this needs to be a component */
.CartItemActions p {
    color: rgb(214, 35, 0);
    padding: 0.75rem 0;
    cursor: pointer;
    font-weight: normal;
}

.CartItemActions {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    margin: 0px 0px -0.5rem;
    border-top: 1px solid rgb(245, 235, 220);
}

/* cart item heading */
/* kYodFw {
    padding: 0px 0.5rem 1rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
} */
/* cart item removed */
/* iofXLM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.25rem;
    border-top: 1px solid rgb(245, 235, 220);
    color: rgb(43, 2, 0); */
