.Incrementor {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-end;
    font-weight: normal;
    justify-content: flex-end;
}

.IncremetorNumber {
    font-size: 1.125rem;
    padding: 0 5px 0 5px;
}

.IncrementorIcon {
    height: 26px;
    width: 24px;
    display: inline-block;
    margin: auto;
    fill: transparent;
    border: 2px solid rgb(214, 35, 0);
    border-radius: 100%;
}

.IncrementorIcon > path:last-child {
    fill: red;
}

.IncrementorIcon[disabled] {
    pointer-events: none;
    border: 2px solid rgb(212, 199, 183);
}

.IncrementorIcon[disabled] > path:last-child {
    fill: rgb(212, 199, 183);
}
