.Wrapper {
    margin: 2rem auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.AboutPageHeading {
    margin-top: 78px;
    background-color: rgb(214, 35, 0);
    text-align: center;
    padding: 4rem 0;
}

.AboutPageHeading h2 {
    text-align: center;
    font-size: 3.5rem;
    margin: auto;
    color: rgb(245, 235, 220);
}

.AboutMessage {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgb(73 73 73 / 20%) 0px 0px 4px 0px;
    background: rgb(243, 242, 239);
}

.AboutMessage p {
    margin: auto;
    line-height: 2;
    font-size: 1.3rem;
}

.ToolsList {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    flex-flow: row wrap;
}

.AboutMessage + button {
    margin: 1.5rem 0;
    width: 20%;
}

@media screen and (max-width: 1000px) {
    .Wrapper {
        padding: 0.5rem;
        align-items: center;
    }
    .AboutMessage + button {
        width: 50%;
    }
}
