main {
    position: relative;
}

.Customization {
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.CustomizationBackground {
    width: 100%;
    height: 250px;
    background-color: rgb(254, 135, 49);
    display: flex;
}

.CustomizationHero {
    position: relative;
    flex-shrink: 0;
    max-width: 50vh;
    max-height: 50vh;

    margin: 100px auto 0px;

    border-radius: inherit;
    position: relative;
    width: 100%;
    height: 100%;
}

.CustomizationHero img {
    border-radius: inherit;
    display: block;
    position: absolute;
    inset: 0px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition: opacity 200ms ease-out 0s;
}

.CustomizationHeading h3 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    text-align: center;
    font-weight: 700;
    color: rgb(80, 35, 20);
}

.CustomizationHeading p {
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.45;
}
.CustomizationOptionsContainer {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(215, 199, 181);
    margin: 2rem auto 0px;
}

.CustomizationOptionsContainer div:first-of-type {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 1rem 0px;
}

.CustomizationOptionsContainer h4 {
    color: rgb(80, 35, 20);
    font-weight: 600;
    font-size: 1.25rem;
}

.CustomizationNutritionInfomartion {
    padding: 0px 1rem;
}

.CustomizationNutritionInfomartion p {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-weight: 500;
}

.CustomizationOrderButton {
    margin: 2rem 0;
}

.CustomizationOrderButton span {
    display: block;
    color: rgb(214, 35, 0);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    margin: 0px auto 1rem;
    letter-spacing: -1px;
    text-align: center;
}

@media screen and (min-width: 813px) {
    .CustomizationBackground {
        top: 228px;
    }
}
@media screen and (min-width: 813px) {
    .CustomizationBackground {
        height: 350px;
    }
}
