.CustomizationHeading h3 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    text-align: center;
    font-weight: 700;
    color: rgb(80, 35, 20);
}

.CustomizationHeading p {
    font-weight: 500;
    line-height: 1.45;
}

.CustomizationHeadingPrice {
    display: flex;
    flex-direction: row;
    font-size: 0.9375rem;
    color: rgb(27, 135, 55);
    font-weight: 700;
    justify-content: center;
    line-height: 1.1;
    margin: 1rem 0px 1.75rem;
}

@media screen and (max-width: 760px) {
    .CustomizationHeading p {
        text-align: center;
    }
}
