.Option {
    display: flex;
    background-color: #fff;
    padding: 0 0.5rem;
    border: 0px;
    border-radius: 10px;
    opacity: 1;
    min-height: 100px;
    align-items: center;
    position: relative;
    text-align: left;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    transition: border 0.2s ease 0s;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.CustomizationOptionImage {
    padding: 0 0.2rem;
}

.CustomizationOptionImage img {
    height: 70px;
    width: 70px;
    margin-right: 13px;
}

.CustomizationOptionDescription {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CustomizationOptionDescription h3 {
    font-size: 1.25rem;
    text-transform: none;
    font-weight: normal;
}

.CustomizationOptionDescription p {
    font-size: 0.9rem;
}

.CustomizationOptionDescription span {
    margin-top: 0.25rem;
    font-size: 0.8375rem;
    color: #414141;
    line-height: 1.1;
    opacity: 0.9;
    font-family: "Flame Sans";
}

.Selected {
    border: 2px solid red;
}

.Option:not(.Selected):hover {
    border: 2px solid #b6b6b6;
}
