.CustomizationNutritionInfomartion {
    padding: 0px 1rem;
}

.CustomizationNutritionInfomartion p {
    margin-bottom: 0.7rem;
    font-size: 0.75rem;
    font-weight: normal;
}
.CustomizationNutritionInfomartion p:last-of-type {
    margin-bottom: 4rem;
}
