.NavItem a:hover,
.active {
    text-decoration: none;
    color: rgb(214, 35, 0) !important;
}

.NavItem a {
    display: inline-block;
    text-transform: none;
    position: relative;
    margin: 0px auto 0px 1.3rem;
    font-size: 1.125rem;
    font-weight: normal;
    color: rgb(80, 35, 20);
}
