.Card {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgb(73 73 73 / 20%) 0px 0px 4px 0px;
    border-radius: 10px;
}

.Card:last-of-type {
    margin: 0;
}

.CardImage {
    flex: 72%;
    height: 300px;
}

.CardImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center center;
}

.CardDescription {
    flex: 28%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.CardDescription h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 760px) {
    .CardImage {
        height: 200px;
    }
    .Card {
        width: 300px;
    }
}
