footer {
    padding: 80px 80px 110px;
    background-color: rgb(43 2 0);
    color: rgb(187, 163, 145);
}

.FooterNavColumns {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.FooterColumn {
    flex-basis: 25%;
}

.FooterColumn h2 {
    color: rgb(245, 235, 220);
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.FooterColumn ul li a {
    margin: 0px;
    color: rgb(187, 163, 145);
    font-size: 0.9375rem;
    font-family: "Flame Sans", "Helvetica Neue", Helvetica, Arial, Verdana,
        sans-serif;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;
}

.FooterColumn ul li a:hover {
    text-decoration: underline;
}

.FooterColumn ul li {
    margin-bottom: 0.2rem;
}

.FooterRowContainer {
    margin: auto;
    border-top: 1px solid rgb(245, 235, 220);
    padding-top: 2rem;
}

.FooterWordmarkSocial {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.FooterSocials {
    display: flex;
}

.FooterIcon {
    margin-right: 0.5rem;
}

.FooterLogo {
    max-height: 100px;
    font-weight: 800;
}

.FooterHorizontalLinks a {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgb(194, 185, 172);
}
.FooterHorizontalLinks a:last-of-type {
    border: none;
    margin: 0;
    padding: 0;
}
.FooterHorizontalLinks a:hover {
    text-decoration: underline;
}

.FooterRowContainer p {
    margin-top: 0.8rem;
    font-size: 0.8rem;
}

.LogoText {
    color: rgb(245, 235, 220);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: normal;
}

.FooterLegalParagraph {
    color: rgb(187, 163, 145);
    font-size: 0.75rem;
    margin: 0px;
    padding: 0.5rem 0px;
}

@media screen and (min-width: 1200px) {
    footer {
        padding: 48px 64px 40px;
    }
}

@media screen and (min-width: 813px) {
    footer {
        padding: 90px 120px 40px;
    }
}

@media screen and (max-width: 760px) {
    footer {
        padding: 30px 20px 90px;
    }
    .FooterNavColumns {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        justify-content: space-between;
        padding-bottom: 3rem;
    }

    .FooterColumn {
        margin-top: 1.5rem;
    }

    .FooterColumn:first-of-type {
        margin: 0;
    }
    .FooterHorizontalLinks {
        display: flex;
        flex-direction: column;
    }
    .FooterHorizontalLinks a {
        border: 0;
    }
}
