/* div > h2 {
    color: rgb(43, 2, 0);
    font-size: 1.25rem;
  font-weight: 700;
    margin: 0px 0px 0.625rem;
    text-transform: none;
} */

.Checkout {
    margin: 0px auto;
    padding: 4rem 1rem;
    width: 100%;
    max-width: 1200px;
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "details"
        "upsell"
        "cart"
        "payment";
    grid-template-columns: 100%;
}

@media screen and (min-width: 813px) {
    .Checkout {
        padding: 6rem 3rem;
        gap: 2rem;
        grid-template-areas:
            "details cart"
            "upsell cart"
            "payment cart";
        grid-template-columns: minmax(min-content, 6fr) minmax(min-content, 4fr);
        grid-template-rows: min-content min-content 1fr;
    }
}
