* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Flame Sans";
    src: url("/src/assets/fonts/FlameSans-Regular.woff2") format("woff2"),
        url("/src/assets/fonts/FlameSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Flame";
    src: url("/src/assets/fonts/Flame-Bold.woff2") format("woff2"),
        url("/src/assets/fonts/Flame-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Flame";
    src: url("/src/assets/fonts/Flame-Regular.woff2") format("woff2"),
        url("/src/assets/fonts/Flame-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #f5ebdc;
    font-family: "Flame";
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev {
    left: -40px !important;
}

.slick-next {
    right: -40px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
    color: red !important;
}

/* Toastify adjustments */
.Toastify__toast--success {
    background: #1a8a1d !important;
}

.Toastify__toast-container--bottom-center {
    bottom: 0em !important;
}

.Toastify__toast {
    margin-bottom: 0 !important;
    justify-content: center !important;
}

.Toastify__close-button > svg {
    width: 30px !important;
    height: 20px !important;
    margin-top: 0.8rem;
}

@media screen and (max-width: 760px) {
    .slick-prev {
        left: -25px !important;
    }

    .slick-next {
        right: -10px !important;
    }
}
