.CartItem {
    font-family: "Flame";
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: rgb(80, 35, 20);
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border: 1px solid rgb(215, 199, 181);
    border-radius: 10px;
    box-shadow: rgb(73 73 73 / 20%) 0px 0px 4px 0px;
    margin-top: 1rem;
}

.CartItem:first-of-type {
    margin: 0;
}

.CartItemDescription p {
    color: rgb(43, 2, 0);
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0px;
}
.CartItemDescription div:first-of-type {
    max-width: 80%;
}
.CartItemDescription {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 4px;
    padding-bottom: 8px;
}

.CartItemDescription span {
    display: flex;
    letter-spacing: normal;
    line-height: 1.25rem;
    font-weight: normal;
    font-size: 1.25rem;
    font-stretch: condensed;
    text-transform: none;
    margin: 0.5rem 0px;
}

.CartItemActions p {
    color: rgb(214, 35, 0);
    padding: 0.85rem 0.35rem;
    line-height: 1;
    cursor: pointer;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Flame";
}

.CartItemActions {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    margin: 0px 0px -0.5rem;
    border-top: 1px solid rgb(245, 235, 220);
}
